<h1> Album Stock </h1>

<%@albums.each do |album| %>
<p>Title: <%= album.title() %></p>
<p>Quantity: <%= album.quantity %></p>
<p>Genre: <%= album.genre %> </p>
<p>Artist id: <%= album.artist_id %> </p>
<p><a href="/album/<%=album.id%>">Show Album Details </a></p>
<hr />
<% end %>
