<h1> Inventory </h1>

<div class="grid">
  <div class="grid-row">
    <div class ="cell">Artist</div>
    <div class ="cell">Album</div>
    <div class ="cell">Quantity</div>
    <div class ="cell">Genre</div>
    <div class="cell"> Stock Level </div>
    <div class="cell"> Buy Price </div>
    <div class="cell"> Sell Price</div>
    <div class="cell"> Margin </div>
    <div class="cell"> Total Profit </div>
  </div>

  <% for artist in @artists %>
  <% artist.albums.each do |album| %>
  <div class="grid-row">
    <div class="cell"><a href="/artist/<%= artist.id %>"><%= artist.name %></a></div>
    <div class="cell"><a href="/album/<%= album.id %>"><%= album.title %></a></div>
    <div class="cell"><%= album.quantity %></div>
    <div class="cell"><%= album.genre %></div>
    <div class="cell"><%= album.stock_level() %></div>
    <div class="cell">£<%= "%.2f" % album.buy_price %> </div>
    <div class="cell">£<%= "%.2f" % album.sell_price %> </div>
    <div class="cell">£<%= "%.2f" % album.margin() %> </div>
    <div class="cell">£<%= "%.2f" % album.profit() %> </div>
  </div>
  <% end %>
  <%end%>
</div>
