
<div class="">


  <h1><%= @artist.name %></h1>
  <form action="/artist/<%=@artist.id%>/delete" method="post">
    <input type="submit" value="Delete Artist">
  </form>
  <h2>Albums:</h2>
  <%@artist.albums.each do |album| %>
  <div>
    <div class="album_img">
      <img src="<%=album.url%>" alt="album_cover" height="145" width="145">
    </div>
    <div class="album_info">
      <h3><%= album.title %></h3>
      <p>Quantity: <%= album.quantity %></p>
      <p>Genre: <%= album.genre %></p>
      <p> Stock Level: <%= album.stock_level() %></p>
      <p> Profit: <%= "%.2f" % album.profit() %> </p>
    </div>
  </div>
  <% end %>
</div>

</div>
