
<div class="">


  <h2><%= @artist.name %></h2>
  <form action="/artist/<%=@artist.id%>/delete" method="post">
<input type="submit" value="Delete Artist">
</form>
  <h3>Albums:</h3>
  <%@artist.albums.each do |album| %>
  <div>
    <div class="album_img">
      <img src="<%=album.url%>" alt="album_cover" height="145" width="145">
    </div>
    <div class="album_info">
      <h3><%= album.title %></h3>
      <p>Quantity: <%= album.quantity %></p>
      <p>Genre: <%= album.genre %></p>
      <p> Stock Level: <%= album.stock_level() %></p>

    </div>
  </div>
  <% end %>
</div>

</div>
